* {
    margin: 0;
    padding: 0;
 }

 .main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(../images/laura-cleffmann-rL6q_Y5uBLs-unsplash.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
 }

 .navbar-brand{
    color: orangered;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    font-weight: bold;
 }

 .offcanvas-title{
   color: orangered;
   font-size: 25px;
   font-family: Arial;
   padding-left: 20px;
   float: left;
   padding-top: 10px;
   font-weight: bold;
 }

 .nav-item nav-link active{
   color: red;
 }